@model TRUJILLOISAAC_EXAMENP1.Models.ITrujillo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ITrujillo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numfav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numfav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quierecambiar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quierecambiar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idceluar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idceluar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
